body { 
    background: url("/projects/group-project1/super-team-project/assets/images/backgroundimage.jpg"); 
    background-repeat: no-repeat; height: 100%; background-position: bottom; background-size: cover;
  }


.name{font-family: 'Xanh Mono'; font-size: 30px; color: white; position: relative; top: 10px;}
.aboutus {font-family: 'Xanh Mono'; font-size: x-large;}


.title {font-size: 50px !important; margin-bottom: 50px}




.is-one-third {border-style: dashed; width: 450px; text-align: center; height: 500px;}




